retaildatafactory1/PartialArmTemplates/ArmTemplate_11_9_2020_21_11_51.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "retaildatafactory1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/FinanceSqlTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Retail3AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Cust_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer_Name",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Finance"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerSalaryTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Retail3AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "Cust_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Customer_Name",
						"type": "varchar"
					},
					{
						"name": "Dept_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Salary",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "AvgSalary",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CustomerSalary"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerWindowDataflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CustomerDeptTable",
								"type": "DatasetReference"
							},
							"name": "CustomerSalarysource"
						},
						{
							"dataset": {
								"referenceName": "DepartmentTable",
								"type": "DatasetReference"
							},
							"name": "DepartWindowsource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CustomerSalaryTable",
								"type": "DatasetReference"
							},
							"name": "CustomerSalarySink"
						}
					],
					"transformations": [
						{
							"name": "CustomerWindowJoin"
						},
						{
							"name": "CustomerAvgSalaryWindow"
						}
					],
					"script": "source(output(\n\t\tCust_ID as integer,\n\t\tCustomer_Name as string,\n\t\tDept_ID as integer,\n\t\tSalary as decimal(10,2)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> CustomerSalarysource\nsource(output(\n\t\tDept_ID as integer,\n\t\tDept_Name as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> DepartWindowsource\nCustomerSalarysource, DepartWindowsource join(CustomerSalarysource@Dept_ID == DepartWindowsource@Dept_ID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> CustomerWindowJoin\nCustomerWindowJoin window(over(DepartName = Dept_Name),\n\tAvgSalary = avg(Salary)) ~> CustomerAvgSalaryWindow\nCustomerAvgSalaryWindow sink(input(\n\t\tCust_ID as integer,\n\t\tCustomer_Name as string,\n\t\tDept_ID as integer,\n\t\tSalary as decimal(10,2),\n\t\tAvgSalary as decimal(10,2)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tmapColumn(\n\t\tCust_ID,\n\t\tCustomer_Name,\n\t\tDept_ID = DepartWindowsource@Dept_ID,\n\t\tSalary,\n\t\tAvgSalary\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> CustomerSalarySink"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CustomerSalaryTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserMetaDataPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UserMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "InvoicesDelimitedText",
								"type": "DatasetReference"
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings"
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "UserMetadataFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "UserMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(string(activity('UserMetadata').output['structure']))",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item(),'name')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "InvoicesColsForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "UserMetadataFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('UserMetadataFilter').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "InvoicesColIf",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(toLower(item().name),toLower('Invoice'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "NonInvoicesColVariable",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "NonInvoicesCols",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "InvoiceColVariable",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "InvoicesCols",
													"value": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"MetaDataValue": {
						"type": "string",
						"defaultValue": "'Invoice'"
					}
				},
				"variables": {
					"InvoicesCols": {
						"type": "Array"
					},
					"NonInvoicesCols": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}