retaildatafactory1/PartialArmTemplates/ArmTemplate_11_9_2020_18_33_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "retaildatafactory1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CountryPRefTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RetailAzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"RetailServerNm": {
							"value": "@dataset().DSDatabaseServerNm",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"DSDatabaseServerNm": {
						"type": "string",
						"defaultValue": "retail3.database.windows.net"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CountryId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CountryCd",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "country_ref"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CountryParameterPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CountryCopyData",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CountryPRefTable",
								"type": "DatasetReference",
								"parameters": {
									"DSDatabaseServerNm": {
										"value": "@pipeline().parameters.PLDatabaseServerNm",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "NewCounrtyREfTable",
								"type": "DatasetReference",
								"parameters": {
									"DSDatabaseServerNm": "@pipeline().parameters.PLDatabaseServerNm"
								}
							}
						]
					}
				],
				"parameters": {
					"PLDatabaseServerNm": {
						"type": "string",
						"defaultValue": "retail3.database.windows.net"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/CountryPRefTable')]",
				"[concat(variables('factoryId'), '/datasets/NewCounrtyREfTable')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NewCounrtyREfTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RetailAzureSqlDatabase",
					"type": "LinkedServiceReference",
					"parameters": {
						"RetailServerNm": {
							"value": "@dataset().DSDatabaseServerNm",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"DSDatabaseServerNm": {
						"type": "string",
						"defaultValue": "retail3.database.windows.net"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CountryId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CountryCd",
						"type": "varchar"
					},
					{
						"name": "Country",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "new_country_ref"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UserMetaDataPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "UserMetadata",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "InvoicesDelimitedText",
								"type": "DatasetReference"
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings"
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "UserMetadataFilter",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "UserMetadata",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@json(string(activity('UserMetadata').output['structure']))",
								"type": "Expression"
							},
							"condition": {
								"value": "@contains(item(),'name')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "InvoicesColsForEach",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "UserMetadataFilter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('UserMetadataFilter').output.Value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "InvoicesColIf",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@contains(item().name,pipeline().parameters.MetaDataValue)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "NonInvoicesColVariable",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "NonInvoicesCols",
													"value": "@item().name"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "InvoiceColVariable",
												"type": "AppendVariable",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"variableName": "InvoicesCols",
													"value": "@item().name"
												}
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"MetaDataValue": {
						"type": "string",
						"defaultValue": "'Invoice'"
					}
				},
				"variables": {
					"InvoicesCols": {
						"type": "Array"
					},
					"NonInvoicesCols": {
						"type": "Array"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}