pipeline/UserMetaDataPipeline.json
{
	"name": "UserMetaDataPipeline",
	"properties": {
		"activities": [
			{
				"name": "UserMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "InvoicesDelimitedText",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "UserMetadataFilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "UserMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@json(string(activity('UserMetadata').output['structure']))",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item(),'name')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "InvoicesColsForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "UserMetadataFilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('UserMetadataFilter').output.Value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "InvoicesColIf",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(toLower(item().name),toLower('Invoice'))",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "NonInvoicesColVariable",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "NonInvoicesCols",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "InvoiceColVariable",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "InvoicesCols",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"MetaDataValue": {
				"type": "string",
				"defaultValue": "'Invoice'"
			}
		},
		"variables": {
			"InvoicesCols": {
				"type": "Array"
			},
			"NonInvoicesCols": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}